{% extends 'base.html' %}

{% block container %}

  <main class="container mt-3">
    <h1 class="display-5 mt-4">Летим {{ departures[uin] }}</h1>
    <p class="mb-4">Найдено {{ sum_dep }} тур{% if sum_tour == 1 %}''{% elif sum_tour <= 4 %}а{% elif sum_tour >= 5 %}ов{% endif %}, от {{ dep_price|min }} до {{ dep_price|max }} рублей и от {{ dep_nights|min }} до {{ dep_nights|max }} ночей</p>
    <!-- CARDS -->
    <div class="row mt-5">
      {% for depar in dep_values %}
      <div class="col-4">
        <div class="card mb-4">
          <img src= {{ depar.thumb }} class="card-img-top img-fluid" alt="">
          <div class="card-body">
            <h2 class="h5 card-title">{{ depar.title }}</h2>
            <p class="card-text">{{ depar.description|truncate(90) }}</p>
            <a href="#" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </main>

{% endblock %}