{% extends 'base.html' %}

{% block container %}
    <!-- HERO -->
    <section class="jumbotron text-center mt-4">
      <h1 class="display-4">{{ title }}</h1>
      <p class="lead">{{ subtitle }}</p>
      <p class="mt-5 w-50 mx-auto">{{ description }}</p>
    </section>
    <!-- CARDS -->
    <div class="row mt-5">
      {% for i in tours_number %}
      <div class="col-4">
        <div class="card mb-4">
          <div class="embed-responsive embed-responsive-16by9">
             <img class="card-img-top embed-responsive-item" src="{{ tours[i].picture }}" alt="" />
          </div>
          <div class="card-body">
            <h2 class="h5 card-title">{{ tours[i].title }}</h2>
            <p class="card-text">{{ tours[i].description|truncate(100) }}</p>
            <a href="tour/{{ i }}" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </main>

{% endblock %}