  <header class="container mt-3">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Temo4kin Travel</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          {% for key, value in departures.items() %}
          <li class="nav-item active">
            {% if request.path == key %}{% set ca = ' class="active"' %} {% else %} {% set ca="" %} {% endif %}
            <a class="nav-link{{ ca }}" href="/departure/{{ key }}">{{ value }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </nav>
  </header>